# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore debugging helpers
demo/src/test/

# Ignore local ADF directory
# Still retaining old "adl" name in gitignore for older setups
local_adl
local_adf

# Ignore generated tests
resources/generated_test

# Ignore mongosqltranslate libraries
src/main/resources/**/libmongosqltranslate.*
src/main/resources/**/mongosqltranslate.*
.library_cache/

